


.but{
    background-color: white !important;
    border-radius: 0 !important;
    border: var(--bs-btn-border-width) solid black !important;
    width: 130px;
    height: 45px;
}

.b01{
    height: 550px;
    background-color: rgb(208, 208, 208);
    border: solid 1px black;
}
.buform{
    background-color: white !important;
    border-radius: none !important;
    border: solid 1px black;
    
    height: 45px !important;
}

.buform01{
    background-color: white !important;
    border-radius: none !important;
    border: solid 1px black;
    
    height: 45px !important;

}